<% include partials/header %>

<div class="ui main text container segment">
  <img width="200" class="ui centered rounded image" src="https://i.imgur.com/KieB9OB.png">
  <h1 class="ui centered huge header">About me </h1>
  <div class="ui top attached">
    <div class="item">
      <div class="description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, adipisci quaerat placeat numquam voluptate officiis? Fuga
          omnis vel sunt reprehenderit ducimus laborum voluptatum error repellendus dolorem corrupti, sed deserunt consectetur dicta
          blanditiis excepturi, similique inventore molestiae optio recusandae, doloribus nam at odio vero saepe. Ipsa nemo aspernatur quasi
          aliquam iste!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In deserunt, dignissimos neque voluptatibus exercitationem illum, autem
          aut accusamus necessitatibus adipisci inventore provident corrupti! Voluptatibus ad mollitia repellat? Libero a eius earum fuga
          impedit sit debitis, nobis blanditiis ipsam sequi animi nam enim ducimus magni! Vero voluptatum pariatur dignissimos ipsam
          corrupti!</p>
      </div>
    </div>
  </div>
</div>


<% include partials/footer %>>