<% include partials/header %>

<div class="ui main text container segment">
  <h1 class="ui centered huge header">Where you can find me: </h1>
  <div class="ui top attached">
    <div class="item">
      <div class="description">
        <table class="ui celled table">
          <tr>
            <td data-label="Name">Email</td>
            <td data-label="Link"><a href="mailto:eduardstefan290@gmail.com">eduardstefan290@gmail.com</a></td>
          </tr>
          <tr>
            <td data-label="Name">Github</td>
            <td data-label="Link"><a href="https://github.com/">https://github.com/</a></td>
          </tr>
          <tr>
            <td data-label="Name">HackerRank</td>
            <td data-label="Link"><a href="https://www.hackerrank.com/">https://www.hackerrank.com/</a></td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>


<% include partials/footer %>