<% include partials/header %>

<div class="ui main text container segment">
  <h1 class="ui centered huge header">What's new?</h1>
  <div class="ui top attached">
    <div class="item">
      <div class="description">
        <div class="ui message">
          <div class="header">
            New Site Features
          </div>
          <ul class="list">
            <li>Made navbar responsive for mobile</li>
            <li>Placed the edit/delete buttons on blogs bellow the title instead of the bottom of the blog </li>
            <li>Added 'What's new?' page so you can see the latest features</li>
            <li>Added contact page</li>
            <li>You can now have cover images on blog pages</li>
          </ul>
        </div>
        <div class="ui message">
          <div class="header">
            Upcoming Features
          </div>
          <ul class="list">
            <li>Make navbar responsive for mobile</li>
            <li>Add input for user so it can show who posted what</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% include partials/footer %>